# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [98]:
# for keyword, counter/iterator variable, in keyword, object
name = "Jei'Avonni Gage"

# for keyword, iterator variable, in keyword, the thing we're looping through
# for letter in name:
#     print(letter)
    
# number = 123456

# for num in number:
# print(num)
# we cant interate through integers

# range()
# len()

print(len(name))

# looping by index
#  for keyword, iterator variable, in keyword range, in range (len(object))
for i in range(len(name)):
    print(name[i])

# print(name[0])

15
J
e
i
'
A
v
o
n
n
i

G
a
g
e

##### Using 'in' keyword

In [6]:
#in is what accesses the items in an iterable
for num in range(15):
# ** is to sqaure a number
    print(num**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [81]:
name = "mega san"
if "g" in name:
    print("yay it's here")
else:
    print("it's not here")

yay it's here

##### Continue Statement

In [8]:
#continue
for num in range(28):
    print(num)

# continue on the next interation
for i in range(20):
    if 1 == 5 or 1 == 6:
        continue
    print(1)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

##### Break Statement

In [10]:
# Break will break out of current loop
#  we use break as part of a condition
for num in range(10):
    print(num)
print("\n")

# usiong the break keyword with condition
for num in range(10):
    if num == 7:
        break
    print(num)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6

##### Pass Statement

In [82]:
# mostly used as a placeholder, and will continue on same iteration
for 1 in range(2):
    pass

SyntaxError: cannot assign to literal (3338619089.py, line 2)

cool person = "Yogi Moto"
# loop through cool_person using the three for loops we talked about earlier
# loop by value

##### Double For Loops

In [12]:
for i in range(5):
    print("\n")
    for j in range(5):
        print("i= ", i, "j=",j)

i=  0 j= 0
i=  0 j= 1
i=  0 j= 2
i=  0 j= 3
i=  0 j= 4


i=  1 j= 0
i=  1 j= 1
i=  1 j= 2
i=  1 j= 3
i=  1 j= 4


i=  2 j= 0
i=  2 j= 1
i=  2 j= 2
i=  2 j= 3
i=  2 j= 4


i=  3 j= 0
i=  3 j= 1
i=  3 j= 2
i=  3 j= 3
i=  3 j= 4


i=  4 j= 0
i=  4 j= 1
i=  4 j= 2
i=  4 j= 3
i=  4 j= 4

name = "duck"
name2 = "goose"

for char in name:
    print("first loop", char)
    for char2 in name:
        print("second loop", char2)

### While Loops

In [15]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0
while counter < 11:

    counter +=1
    print(counter)

print("\n")

num - 0
while num > 15:
    print(num**2)
    num += 1

1
2
3
4
5
6
7
8
9
10
11

##### looping 'While True'

In [83]:
# true as a condition for while loop to run
game_over = False
while true:
    print("infinite loop")
    If game over == false:
        break

SyntaxError: invalid syntax (3799099.py, line 5)

# while loop with while True with user input
# the loop will break when the user enters quit
while true:
    name = Input("What is your name")
    if name == "quit":
    print ( "bye bye")
    break
    print(name)

##### While & For Loops Used Together

In [21]:
j = 1

while j < 10:
    print("\n hand stand push ups set", j)
    
    for i in range(5):
        if i == 0:
            continue
        print("hand stand push ups rep", i)
        
    j += 1

 hand stand push ups set 1
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 2
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 3
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 4
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 5
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 6
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 7
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 8
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

 hand stand push ups set 9
hand stand push ups rep 1
hand stand push ups rep 2
hand stand push ups rep 3
hand stand push ups rep 4

##### The Range Function

In [24]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

#               stop
for num in range(10):
    print(num)
print("\n")
#              start,stop
for num in range (1,10):
    print(num)
print("/n")
#               start,stop,step
for num in range(1,10,2):
    print(num)

0
1
2
3
4
5
6
7
8
9


1
2
3
4
5
6
7
8
9
/n
1
3
5
7
9

### String Manipulation Exercise

In [28]:
# Looping through a list
my_names = ["Ryan", "Alex", "Alex2", "Will"]
for name in my_names:
    print(name)

names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

for num in range(10):
    print (name)
print("\name")

Ryan
Alex
Alex2
Will
Will
Will
Will
Will
Will
Will
Will
Will
Will
Will

ame

## Lists

##### Declaring Lists

In [33]:
our_list = []
# empty list when the brakets are empty

name = ["Ryan", "Alex", "Justin", "Liz", "Alex"]
numbers = [1,2,3,4,5,6]
things = ["Dog",2, [1,2,3,4],"person"]
print(names)
print(things)

['    coNNor', 'max', ' EVan ', 'JORDAN']
['Dog', 2, [1, 2, 3, 4], 'person']

##### Indexing a List

In [ ]:
# [start: stop: step] --> last item [-1]
#          0        1         2      3       4        5   
names = ["Ryan", "Alex", "Justin", "Liz", "Alex", "Razvan"]
# single index
print(names[4])
print names[2])
# regardless of the list legnth, -1 will always be the last index (position)
print(names[-1])
# list slicing
#  print portion of the list starting at index 1 and going to the end of the list
print(names[1])
# print starting at the beggining and go to specified index
print(names[:3])
# stepping through the list by 2
print(names[::2])
# print stepping backwards through the list
print(names[::-1])

reversed_names = names[::

### List Methods

##### .append()

In [35]:
#  List.append(thing you are appending)
# append will always add to the back of the list
names = ["Ryan", "Alex", "Justin", "Liz", "Alex", "Razvan"]

names.append("will")
print(names)

names.append("Mo")
print(names)

['Ryan', 'Alex', 'Justin', 'Liz', 'Alex', 'Razvan', 'will']
['Ryan', 'Alex', 'Justin', 'Liz', 'Alex', 'Razvan', 'will', 'Mo']

##### .insert()

In [38]:
#our_list.insert(index, value)

names.insert(1, "Morgan")

print(names)

names.insert(3, "JeiAvonni")
print(names)

['Ryan', 'Morgan', 'Morgan', 'Alex', 'Justin', 'Liz', 'Alex', 'Razvan', 'will', 'Mo']
['Ryan', 'Morgan', 'Morgan', 'JeiAvonni', 'Alex', 'Justin', 'Liz', 'Alex', 'Razvan', 'will', 'Mo']

##### .pop()

In [41]:
# list.pop(optional index to pop out)
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
names.pop(5)
print(names)

popped_name = names.pop(6)
print(names)
print(popped_name)

print(names.pop())

['Ryan', 'Morgan', 'Morgan', 'JeiAvonni', 'Alex', 'Razvan', 'will', 'Mo']
['Ryan', 'Morgan', 'Morgan', 'JeiAvonni', 'Alex', 'Razvan', 'Mo']
will
Mo

##### .remove()

In [43]:
#list.remove(thing to be removed)
# value to be removed, not an index
print(names)
names.remove("Ryan")
print(names)

['Morgan', 'Morgan', 'JeiAvonni', 'Alex', 'Razvan']

ValueError: list.remove(x): x not in list

### Working With Lists

##### del()

In [52]:
# index to be removed, not value 
print(names)
del names[1]
print(names)

print(names)
del names[1:3]
print(names)

['Morgan', 'JeiAvonni', 'Alex', 'Razvan']
['Morgan', 'Alex', 'Razvan']
['Morgan', 'Alex', 'Razvan']
['Morgan']

##### min()

In [56]:
# return the smallest item in a list
numbers = [2,5,1,6,47,12]
print(min(numbers))

1

##### max()

In [54]:
# returns largest item in a list
numbers = [2,5,1,6,47,12]
print (max(numbers))
names = ["Ryan", "Alex", "Justin", "Liz", "Alex", "Razvan"]
print(max(names))

47
Ryan

##### sum()

In [55]:
# return the sum of all numbers in a list
numbers = [2,5,1,6,47,12]
print(sum(numbers))

73

##### sorted()

In [59]:
#sorted will return a new sorted list, create a new variable
numbers = [2,5,1,6,47,12]
print(sum(numbers))
sorted_nums = sorted (numbers)
print(sorted_nums)
print(numbers)

73
[1, 2, 5, 6, 12, 47]
[2, 5, 1, 6, 47, 12]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [61]:
#.sort() will sort the original list
sorted_nums = numbers.sort()
numbers.sort()
# print(sorted_nums)
print(numbers)

[1, 2, 5, 6, 12, 47]

##### Copying a List

In [62]:
# [:] copies a list, doesn't alter original'
names = ["Ryan", "Alex", "Justin", "Liz", "Alex", "Razvan"]
print(names[:])
names_copy = names[:]
print(names_copy)

['Ryan', 'Alex', 'Justin', 'Liz', 'Alex', 'Razvan']
['Ryan', 'Alex', 'Justin', 'Liz', 'Alex', 'Razvan']

##### Looping Through Lists

In [64]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]


# looping by enumerate
for i, n in enumerate(names):
    print(i, n)

# looping by index
for 1 in range

SyntaxError: cannot assign to literal (3444664166.py, line 9)

##### 'in' keyword

In [66]:
names = ["Ryan", "Alex", "Justin", "Liz", "Alex", "Razvan"]

if "Liz" in names:
    print("Yay liz")
else:
    print("boo no liz")

Yay liz

##### 'not in' keyword

In [68]:
names = ["Ryan", "Alex", "Justin", "Liz", "Alex", "Razvan"]
if "Fredrick" not in names:
    print("no Fredrick")
else:
    print("Fredrick")

no Fredrick

##### Checking an Empty List

In [76]:
l_2 = []
l_3 = None

if l_2 == []:
    print ("that list is empty")

if l_2 == l_3:
    print("yes")
else:
    print("no")

if l_2:
    print("this list has stuff")
else:
    print("this list doesnt have stuff")

that list is empty
no
this list doesnt have stuff

##### Removing Instances with a Loop

In [80]:
#while, remove
names = ["Ryan", "Justin", "Liz", "Alex","Alex", "Razvan", "Fredrick"]
for name in names:
    if name == "Alex":
        names.remove(name)
print(names)
names = ["Ryan", "Justin", "Liz", "Alex","Alex", "Razvan", "Fredrick"]
# using while loop with remove
while "Alex" in names:
    names.remove("Alex")
    print(names)

['Ryan', 'Justin', 'Liz', 'Alex', 'Razvan', 'Fredrick']
['Ryan', 'Justin', 'Liz', 'Alex', 'Razvan', 'Fredrick']
['Ryan', 'Justin', 'Liz', 'Razvan', 'Fredrick']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [90]:
# square every even number
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = [x**2 for x in nums if x%2 == 0]

squared_nums = []
for x in nums:
    if x%2 == 0:
        squared_nums.append(x**2)
print(squared_nums)

[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [95]:
tup_1 = (1, 2, 3) # one way to create a tuple, items seperated by commas in parathesis
tup_2= 1, 2, 3 #another way just items seperated by commas
print(tup_2)

print(type(tup_1))

print("tuple length" , len(tup_2))

for num in tup_2:
    print(num)

for i in range(len(tup_1)):
    print(tup_1[i]):

SyntaxError: invalid syntax (2074616953.py, line 13)

##### sorted()

In [96]:
tup = (20,5,1,10,95,123)
sorted_tup_list = sorted(tup)
print(sorted_tup_list)

some_list = [5,12,654,234,76,23]
sorted_list = sorted(some_list)
print(sorted_list)
sorted_list = tuple(sorted_list)
new_tup = tuple(sorted_tup_list)
print(new_tup)

#tuple concatentation
new_new_tup = new_tup + sorted_list
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
[5, 12, 23, 76, 234, 654]
(1, 5, 10, 20, 95, 123)
(1, 5, 10, 20, 95, 123, 5, 12, 23, 76, 234, 654)

##### Adding values to a Tuple

In [97]:
tup = (20, 5, 1, 10, 95, 123)
print(tup)

tup = tup + (6,)
print(tup)

(20, 5, 1, 10, 95, 123)
(20, 5, 1, 10, 95, 123, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [ ]:
alist = [1,11,14,5,8,9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [6]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

new_list = sorted(l_1 + l_2)

print(new_list)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [8]:
for num in range(1, 16):
    print(num **2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>
<p>Hint: There is an empty string at the end of the list you will need to account for.

In [9]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

a_names = [name.strip().title() for name in names_list if name.strip() and name.lower().strip()[0] == 'a']


print(a_names)

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>
<p>Hint: A Prime # is any # that is ONLY divisible by 1 and itself. So think how you can iterate through the list of #s from 1 to 100 and check to see if its divisible by ANY # below it.
<p>The For/Each might be very helpful for this question. ',', end='')

In [13]:
for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

In [ ]:
# I did scuba diving research on this one